/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family, sans-serif);
  font-variation-settings: "wght" var(--main-text-wght, 400);
  background-image: var(--page-background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  gap: 100px;
}

.container {
  inline-size: var(
    --main-container-width,
    clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem)
  );
  margin: 0 auto;
}

.main__container {
  display: grid;
  gap: 50px;
}

.header__container {
  margin-top: 100px;
  background-color: #fff;
  padding: var(
      --header-padding-block,
      clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem)
    )
    0;
  border: 2px solid #000;
}

.header__item {
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-family: var(--accent-font-family, sans-serif);
}

.header__title {
  font-family: var(--accent-font-family, sans-serif);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-block-start: 20px;
}

.card {
  border: 2px solid #000;
  background-color: #fff;
}

.card__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  display: block;
  object-position: center;
}

.card__image-block {
  position: relative;
  overflow: hidden;
  border-bottom: 3px solid #000;
}

.card__title {
  font-family: var(--main-font-family);
  font-variation-settings: "wght" 700;
  font-size: 18px;
  padding: 4px 10px;
  color: #000;
  border-bottom: 2px solid #000;
}

.card__content {
  padding: 25px;
}

.card__description,
.card__memories {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000;
}

.blur {
  filter: blur(10px);
}

.sepia {
  filter: sepia(1);
}

.invert {
  filter: invert(0.8);
}

.hue-rotate {
  filter: hue-rotate(35deg);
}

.saturate {
  filter: saturate(4);
}

.grayscale {
  filter: grayscale(70%);
}

.multi-filter {
  filter: hue-rotate(100deg) blur(1px) contrast(0.5) saturate(1);
}

.card__memories {
  padding-block-start: 27px;
}

.card__buttons-group {
  margin-block-start: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  gap: 6px;
}

.button__text {
  font-family: var(--accent-font-family, sans-serif);
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.card__icon-button {
  border: none;
  outline: 2px solid transparent;
}

.card__icon-button:focus {
  outline: none;
  transition: outline 0.3s ease;
}

.card__icon-button:focus-visible {
  outline: 2px solid #000;
  transition: outline 0.3s ease;
}

.btn-common {
  display: flex;
  position: relative;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.3s ease-in-out;
  overflow: hidden;
  border: 2px solid #000;
  text-align: center;
  outline: none;
}

.card__like-button {
  block-size: 38px;
  inline-size: 130px;
}

.save__progress-button {
  inline-size: clamp(19.375rem, 18.7368rem + 2.723vw, 21.1875rem);
  margin: 0 auto 100px auto;
  background-color: #fff;
  padding-block: 15px;
}

.card__like-button:focus,
.save__progress-button:focus {
  box-shadow: 2px 2px 0 0 #000;
}

.save__progress-button .button__text {
  margin-inline-start: 8px;
}

.save__progress-icon {
  inline-size: 21px;
  transition: box-shadow 0.3s ease-in-out;
  block-size: 21px;
  position: relative;
  color: #fff;
  z-index: 1;
  mix-blend-mode: difference;
}

.like-icon {
  display: block;
  cursor: pointer;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear 0.05s;
}

.like-icon:hover .main-body,
.like-icon:hover .core {
  fill: var(--svg-contour-color, black);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body,
.like-icon:active .core {
  fill: var(--like-icon-fill-color, black);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--like-icon-fill-color, black);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--like-icon-fill-color, black);
  transition: fill 0.3s linear 0.03s;
}

.like-icon .contour {
  fill: var(--svg-contour-color, black);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--like-icon-fill-color, black);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation-name: heart_animation;
  transform-origin: center;
  animation-delay: 0.1s;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
}

.like-icon.is-liked .sparks {
  animation-name: show_sparks;
  animation-duration: 0.3s;
  animation-delay: 0.3s;
  animation-timing-function: ease-in;
}

.card__image-label {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  font-family: var(--accent-font-family);
  font-weight: 400;
  font-size: 14px;
  color: #000;
  text-shadow: 1px 1px var(--text-stroke-color, #fff),
    -1px -1px var(--text-stroke-color, #fff);
}

.dialog[open] {
  font-family: var(--accent-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: #000;
  border: 2px solid #000;
  padding: 30px;
}

.dialog[open]::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.dialog__button {
  cursor: pointer;
  padding-block: 12.5px;
  inline-size: 100%;
  margin-block-start: 30px;
}

.dialog__content {
  display: flex;
  align-items: center;
}

.dialog__text {
  margin-inline-start: 20px;
  inline-size: clamp(12.375rem, 11.5827rem + 3.3803vw, 14.625rem);
}

.dialog-icon {
  inline-size: 39px;
  block-size: 39px;
  position: relative;
}

body:has(dialog[open]) {
  overflow: hidden;
}

@supports (
  (text-stroke: 1px var(--text-stroke-color, #fff)) or
    (-webkit-text-stroke: 1px var(--text-stroke-color, #fff))
) {
  .card__image-label {
    -webkit-text-stroke: 1px var(--text-stroke-color, #fff);
    text-stroke: 1px var(--text-stroke-color, #fff);
    text-shadow: none;
  }
}

@media (width <= 375px) {
  .save__progress-button {
    flex-direction: column;
  }

  .card__image-label {
    right: 11px;
    top: 23px;
  }

  .save__progress-icon {
    inline-size: 28px;
    block-size: 28px;
  }

  .save__progress-button .button__text {
    margin: 8px 0 0 0;
  }

  .dialog[open] {
    padding-inline: 40px;
  }
}

.card__like-button::before,
.save__progress-button::before {
  content: "";
  background-color: #000;
  inset: 0;
  position: absolute;
  transform: scaleX(0) translateX(-100%);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.card__like-button:hover::before,
.save__progress-button:hover::before {
  transform: scaleX(1) translateX(0);
}

.sparks {
  opacity: 0;
}
