/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family, sans-serif);
  font-variation-settings: "wght" var(--main-text-wght, 400);
  background-image: var(--page-background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  gap: 100px;
}

.container {
  inline-size: var(
    --main-container-width,
    clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem)
  );
  margin: 0 auto;
}

.main__container {
  display: grid;
  gap: 50px;
}

.header__container {
  margin-top: 100px;
  background-color: #fff;
  padding: var(
      --header-padding-block,
      clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem)
    )
    0;
  border: 2px solid #000;
}

.header__item {
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-family: var(--accent-font-family, sans-serif);
}

.header__title {
  font-family: var(--accent-font-family, sans-serif);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-block-start: 20px;
}

.card {
  border: 2px solid #000;
  background-color: #fff;
}

.card__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  display: block;
  object-position: center;
}

.card__image-block {
  overflow: hidden;
  border-bottom: 3px solid #000;
}

.card__title {
  font-family: var(--main-font-family);
  font-variation-settings: "wght" 700;
  font-size: 18px;
  padding: 4px 10px;
  color: #000;
  border-bottom: 2px solid #000;
}

.card__content {
  padding: 25px;
}

.card__description,
.card__memories {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000;
}

.blur {
  filter: blur(10px);
}

.sepia {
  filter: sepia(1);
}

.invert {
  filter: invert(0.8);
}

.hue-rotate {
  filter: hue-rotate(35deg);
}

.saturate {
  filter: saturate(4);
}

.multi-filter {
  filter: hue-rotate(100deg) blur(1px) contrast(0.5) saturate(1);
}

.card__memories {
  padding-block-start: 27px;
}

.card__buttons-group {
  margin-block-start: 25px;
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  align-items: center;
}

.button__text {
  font-family: var(--accent-font-family, sans-serif);
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.card__icon-button {
  border: none;
}

.card__like-button {
  block-size: 38px;
  outline: none;
  transition: box-shadow 0.3s ease-in-out;
  inline-size: 130px;
  text-align: center;
  border: 2px solid #000;
}

.card__like-button:focus {
  box-shadow: 2px 2px 0 0 #000;
}

.grayscale {
  filter: grayscale(70%);
}

.save__progress-button {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  border: 2px solid #000;
  inline-size: clamp(19.375rem, 18.7368rem + 2.723vw, 21.1875rem);
  margin: 0 auto;
  background-color: #fff;
  padding-block: 15px;
}

.like-icon {
  display: block;
}

.card__like-button {
  display: flex;
  position: relative;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  cursor: pointer;
}

.save__progress-button .button__text {
  margin-inline-start: 8px;
}

.save__progress-icon {
  inline-size: 21px;
  block-size: 21px;
  position: relative;
  color: #fff;
  z-index: 1;
}

@media (width <= 375px) {
  .save__progress-button {
    flex-direction: column;
  }

  .save__progress-icon {
    inline-size: 28px;
    block-size: 28px;
  }

  .save__progress-button .button__text {
    margin: 8px 0 0 0;
  }
}

.card__like-button::before,
.save__progress-button::before {
  content: "";
  background-color: #000;
  inset: 0;
  position: absolute;
  transform: scaleX(0) translateX(-100%);
  transform-origin: left;
  transition: all 0.5s ease-in-out;
}

.card__like-button:hover::before,
.save__progress-button:hover::before {
  transform: scaleX(1) translateX(0);
}

.save__progress-button {
  cursor: pointer;
}